<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784587074195-drhd81vjpr1mcrv3pugc9jvhllob2p4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784587074195-drhd81vjpr1mcrv3pugc9jvhllob2p4i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784587074195-clmf55gtmfpgkta2thpbcrv6b5jn5eoo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADG5y8p4NWJViDP3cE-EURbrf1USP7fpk</string>
	<key>GCM_SENDER_ID</key>
	<string>784587074195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ly.foodly.foodly</string>
	<key>PROJECT_ID</key>
	<string>foodly-83214</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-83214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784587074195:ios:4908fe96001c6f06a73b66</string>
</dict>
</plist>